/* MAIN BAR */
.navbar {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1 0;
}

/* LOGO */
.logo {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #1F1F1F;
}

/* SEARCH BAR */
.search-bar {
    -fx-background-radius: 40;
    -fx-border-radius: 40;
    -fx-background-color: #F4F4F4;
    -fx-padding: 0 22;
    -fx-font-size: 14px;
}

/* TEXT BUTTONS */
.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: #333;
    -fx-font-size: 15px;
}

.nav-button:hover {
    -fx-text-fill: #FFB300;
}

/* ICON BUTTONS */
.icon-button {
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}

.icon-button:hover {
    -fx-background-color: #F2F2F2;
}
